@import url('https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap');

:root {
    --bannercolor: #134074;
    --sitebackground: white;
    --footercolor: #EDF4FC;
    --footertext: grey;
}

@media only screen and (max-width: 600px) {
    aside {
        margin-left: 5%;                                            /* */ 
        margin-right: 5%;   

    }
    ul {
        padding-left: 5%;                                            /* */ 
        padding-right: 5%;
    }
  }

body {
    background-color: var(--sitebackground);
}

* {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Magra', sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 1.525rem;
    line-height: 1;
    text-align: center;
    font-weight: bold;
    background-color: var(--bannercolor);
    color: white;
    padding: 40px 20px;
}

ul {
    list-style-type: square;
    padding-left: 10%;                                            /* */ 
    padding-right: 10%;
}

li {
    padding-bottom: 25px;
}

p {
    max-width: 400px;
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 6px;
    margin-top: 15px
}

a, a:link, a:visited, a:hover, a:active {
    color: var(--bannercolor);
    text-decoration: solid underline;
    padding-top: 7px;
}

.marked {
    background-color: #F6EDCF;
}

.later {
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    line-height: 1.5em;
    list-style: none;
    box-sizing: border-box;
    opacity: 1;
    text-decoration: none;
    transition: color .2s linear;
    text-align: center;
}

footer {
    background-color: var(--footercolor);
    color: var(--footertext);
}

aside {
    max-width: 400px;
    margin-left: 10%;                                            /* */ 
    margin-right: 10%;   
    background-color: var(--bannercolor);
    color: white;
}

.asideTitle {
    font-size: 1.3rem;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: 'Magra', sans-serif;
    font-style: normal;
    font-size: 1.3rem;
    font-weight: 600;
    padding-bottom: 10px;
}

.asideText {
    padding: 10px;
}